.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.input-container {
  inline-size: fit-content;
  /* align-self: self-start; */
  /* background-color: purple; */
  margin: auto;
}

.task-input {
  background-color: purple;
  height: 50px;
  width: 250px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  margin: 10px 0px 10px 0px;
}

.date-input {
  background-color: purple;
  height: 50px;
  width: 250px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
}

input {
  margin-left: 10px;
}


.add-btn {
  background-color: purple;
  height: 35px;
  width: 120px;
  border-radius: 30px;
  color: white;
  margin-top: 10px;
}

.display-task-items {
  inline-size: fit-content;
  background: whitesmoke;
  margin: auto;
  width: 500px;
}